<html lang="en" class="no-js" ng-app="myApp">
    <head>
        <base href="/">
        <meta charset="utf-8">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="">
        <meta name="robots" content="">
       
        <!--app styles -->
        <link rel="stylesheet" type="text/css" href="css/style.css">      
 
        <!-- angular lib-->
        <script src="bower_components/angular/angular.js"></script>
    </head>
    <body ng-controller="bodyCtrl">
        
        <form>
        <input type="text" ng-model="title">
        <input type="text" ng-model="type">
        <button type="submit" ng-click="postdata()">Add</button>
        
        </form>
        
        
        <p> {{time | date:'HH-mm-ss:sss dd-MM-yy'}}</p>
        <h1>Hey Man! Its working, Right?</h1>
        <input type="text" ng-model="name">
       
        
        <button type="button" ng-click="needToBeShowed=!needToBeShowed">Show/Hide</button>
        <ul ng-repeat="vm in movies | filter:name" ng-show="needToBeShowed" >
            <li>{{vm.Title}}</li>
            <li>{{vm.Year}}</li>
            <li>{{vm.imdbID}}</li>            
            <li>{{vm.Type}}</li>
            <img ng-src="{{vm.Poster}}">
        </ul>
        
        <!-- build scripts -->
        <script src="js/app.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/services.js"></script>
    </body>
</html>
